@import "src/styles/mixins/typography";
@import 'src/styles/variables/devices.scss';

.toggle-plots {
  width: calc(100% - 80px);
  max-width: 1000px;
  margin-top: 60px;

  &__hint {
    margin-bottom: 24px;

    &-title {
      @include text-H3;

      &.light {
        color: var(--color-light-text);
      }

      &.dark {
        color: var(--color-neutral-400);
      }
    }

    &-text {
      @include text-S;
      margin: 16px 0 32px 0;

      &.light {
        color: var(--color-neutral-550);
      }

      &.dark {
        color: var(--color-neutral-000);
      }
    }

    &-icon {
      margin-right: 8px;
    }
  }

  &__control-wrapper {
    margin-bottom: 60px;
    width: 95%;
  }

  &__chart-hint {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    padding-bottom: 24px;

    &-blue, &-purple {
      width: 21px;
      height: 8px;
      background-color: #63ABFD;
      margin-right: 9px;
    }

    &-purple {
      background-color: #E697FF;
    }

    &-box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 38px;
      @include text-S;

      &.light {
        color: var(--color-light-text);
      }

      &.dark {
        color: var(--color-neutral-000);
      }
    }
  }

  & .recharts-wrapper {
    margin-top: 24px;
    font-variant-numeric: tabular-nums;
  }
}

@media (max-width: $device-xl) {
  .toggle-plots {
    width: calc(100% - 24px);
  }
}

@media (max-width: $device-lg) {
  .toggle-plots {
    margin-top: 40px;
    width: 100%;

    &__hint {
      margin: 32px 0;
    }

    &__control-wrapper {
      width: 100%;
    }
  }

  .recharts-responsive-container {
    width: 100% !important;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .recharts-wrapper {
    margin: 0 !important;
  }
}

@media (max-width: $device-sm) {
  .toggle-plots {
    width: 100%;
  }
}

@media (max-width: $device-xs) {
  .toggle-plots__chart-hint {
    padding-left: 40px;
    margin-top: 28px;
    padding-bottom: 16px;
  }
}
