.logo {
  &-text {
    color: var(--color-neutral-000);
    margin-left: 5px;
  }

  &__foxIcon {
    width: 28px;
    margin-right: 12px;
  }

  &-box {
    display: flex;
    align-items: center;
    height: max-content;

    & img {
      z-index: 100;
    }
  }
}