@use "src/styles/mixins/typography";
@import 'src/styles/variables/devices.scss';

.nav-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-neutral-600);
  font-family: var(--font-family-play);
  min-width: 380px;
  max-width: 600px;
  letter-spacing: 1px;
  z-index: 100;
  transition: 1s;

  &-item {
    border-radius: 4px;
    padding: 2px 12px;
    text-align: center;
    @include typography.text-H5;

    &.light {
      color: var(--color-neutral-600);
    }

    &.dark {
      color: var(--color-neutral-000);
    }

    &-box {
      display: flex;
      justify-content: center;

      &:first-child {
        justify-content: left;
      }

      &:last-child {
        justify-content: right;
      }
    }
  }
}

.active {
  &.light {
    background-color: var(--color-secondary-100);
    color: var(--color-secondary-500);
  }

  &.dark {
    background: var(--color-neutral-10);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05);
  }
}

@media (min-width: $device-md) {
  .nav-panel {
    &-item-box:first-child {
      a.nav-panel-item.active.light {
        background: var(--color-neutral-10);
        color: var(--color-neutral-000) !important;
      }
    }
  }
}

@media (max-width: $device-lg) {
  .nav-panel {
    min-width: 320px;

    &-item {
      letter-spacing: 0.72px;
      padding: 2px 8px;
    }
  }
}

@media (max-width: $device-md) {
  .nav-panel {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    max-width: unset;

    &-item {
      &-box {
        justify-content: left;
        padding: 18px 0;
        width: 100%;

        &.light {
          border-bottom: 1px solid rgba(0, 0, 0, 0.07);
        }

        &.dark {
          border-bottom: 1px solid rgba(255, 255, 255, 0.07);
        }

        &:first-child {
          justify-content: left;
        }

        &:last-child {
          justify-content: left;
        }
      }
    }
  }
}
