@use "src/styles/mixins/typography";
@import 'src/styles/variables/devices.scss';

.stats {
 display: flex;
 flex-direction: column;
 width: 100%;
 font-family: var(--font-family-play);
 border-top: 1px solid rgba(255, 255, 255, 1);
 border-radius: 16px;
 padding: 32px 28px;

 &.light {
  background: linear-gradient(0deg, var(--color-neutral-60), var(--color-neutral-20));
 }

 &.dark {
  background: linear-gradient(0deg, var(--color-neutral-10), rgba(255, 255, 255, 0.05));
 }

 &-title {
  @include typography.text-H4;
  font-family: var(--font-family-play);
  text-transform: uppercase;
  margin: 0;

  &.light {
   color: var(--color-secondary-500);
  }

  &.dark {
   color: var(--color-neutral-000);
  }

  &__text {
   @include typography.text-L;
   margin-bottom: 0;

   &.light {
    color: var(--color-neutral-550);
   }

   &.dark {
    color: var(--color-neutral-300);
   }
  }
 }

 &-separator {
  width: 264px;
  height: 1px;
  margin: 32px 0;

  &.light {
   background: rgba(255, 255, 255, 0.8);
  }

  &.dark {
   background: rgba(255, 255, 255, 0.05);
  }
 }

 &-content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
 }
}

@media (min-width: $device-xl) {
 .stats {
  max-width: 420px;
 }
}

@media (max-width: $device-lg) {
 .stats {
  width: 80%;

  &.light {
   border: 1px solid transparent;
   background: var(--color-neutral-60);
  }
 }
}

@media (max-width: $device-sm) {
 .stats {
  width: 95%;
 }
}
