@import 'src/styles/mixins/typography.scss';
@import 'src/styles/variables/devices.scss';

.crypto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: max-content;
  min-height: 100vh;
  max-width: 1800px;
  width: 80%;

  &__icon {
    height: 32px;
  }

  &-title {
    font-variant-numeric: lining-nums tabular-nums;
    @include text-H3;

    &.light {
      color: var(--color-neutral-600);
    }

    &.dark {
      color: var(--color-neutral-000);
    }

    &-box {
      margin: 40px 0;
      width: 100%;
      font-family: var(--font-family-plus);
    }

    &__text {
      @include text-S;

      &.light {
        color: var(--color-neutral-550);
      }

      &.dark {
        color: var(--color-neutral-300);
      }
    }
  }

  &__search-list {
    width: 100%;
  }

  &-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &-heading {
    text-align: center;
    margin: 10vh 0 5vh 0;
  }

  &__star {
    transition: 0.5s;

    &.light {
      color: var(--color-neutral-300);

      &:hover {
        color: var(--color-light-text);
      }
    }

    &.dark {
      color: var(--color-neutral-400);

      &:hover {
        color: var(--color-neutral-000);
      }
    }

    &-active {
      &.light {
        color: var(--color-primary-400);
      }

      &.dark {
        color: var(--color-primary-400);
      }
    }
  }

  &__filters-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    @include text-H5;

    &__button {
      background-color: transparent;
      transition: 0.5s;
      height: 100%;
      border-radius: 8px;
      box-shadow: none;

      &.light {
        color: var(--color-light-text);
        border: none;

        svg {
          color: var(--color-neutral-400);
          margin-right: 6px;
        }
      }

      &.dark {
        color: var(--color-neutral-000);
        border: none;
        background: none;

        svg {
          color: var(--color-neutral-300);
          margin-right: 6px;
        }
      }

      &:hover {
        &.light {
          background: var(--color-neutral-150);
        }

        &.dark {
          background: var(--color-neutral-700-b);
          box-shadow: 0 8px 8px 0 var(--color-neutral-05);
        }
      }

      &-active {
        &.light {
          background: var(--color-secondary-10);
          color: var(--color-secondary-500);

          svg {
            color: var(--color-secondary-400);
          }

          &:hover {
            background: var(--color-secondary-200);
          }
        }

        &.dark {
          background: var(--color-neutral-700-b);
          color: var(--color-primary-400);
          box-shadow: 0 8px 8px 0 var(--color-neutral-05);

          svg {
            color: var(--color-primary-400);
          }

          &:hover {
            background: var(--color-neutral-600);
          }
        }
      }
    }
  }

  &__name {
    margin: 0;
    @include text-H5;
  }

  &__symbol {
    margin: 0;
    color: var(--color-primary-500);
    @include text-H5;
  }

  &__plot {
    cursor: pointer !important;
    position: absolute !important;
    top: 5px;
    right: 0;
  }
}

@media (max-width: $device-lg) {
  .crypto {
    width: 90%;
    overflow: hidden;

    &-title-box {
      margin: 32px 0;
    }
  }
}

@media (max-width: $device-md) {
  .crypto {
    &__filters-box__button {
      height: 32px;

      &.light {
        background-color: var(--color-neutral-150);
      }

      &.dark {
        background-color: var(--color-neutral-700-b);
      }
    }

    &-title-box {
      margin: 24px 0;
    }
  }
}

@media (max-width: $device-sm) {
  .crypto {
    width: 100%;
    padding: 0 8px;

    &-title-box {
      margin: 16px 0;
    }

    &__filters-box {
      white-space: nowrap;
      overflow-x: auto;
      width: 100%;
    }
  }
}

@media (max-width: $device-xs) {
  .crypto {
    &__search-list {
      width: 100%;
    }

    &-title-box {
      width: 100%;
    }

    &__filters-box {
      &__button {
        font-size: 12px;
        padding: 2px 8px;
      }
    }
  }
}
