@use 'src/styles/mixins/typography';
@import 'src/styles/variables/devices.scss';

.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family-plus);
  gap: 16px;
  @include typography.text-H5;

  &__controllers {
    display: flex;
    align-items: center;
    gap: 16px;

    &-lang {
      &__control {
        &.white {
          background: var(--color-neutral-000) !important;
        }

        &.light {
          background: var(--color-neutral-150) !important;
        }

        &.dark {
          background: var(--color-neutral-10) !important;
        }
      }

      &__singleValue, &__input {
        &.light {
          color: var(--color-neutral-600) !important;
        }

        &.dark {
          color: var(--color-neutral-000) !important;
        }
      }

      &__menu {
        &.light {
          background: var(--color-neutral-000) !important;
          color: var(--color-neutral-600) !important;
        }

        &.dark {
          background: var(--color-neutral-800) !important;
          color: var(--color-neutral-400) !important;
        }
      }

      &__option {
        &.light {
          background: var(--color-neutral-000);

          &:hover {
            background: var(--color-neutral-100);
          }
        }

        &.dark {
          background: var(--color-neutral-700-b);

          &:hover {
            background: var(--color-neutral-600);
          }
        }
      }

      &__indicator {
        &.light {
          color: var(--color-neutral-250) !important;

          &:hover {
            color: var(--color-neutral-500) !important;
          }
        }

        &.dark {
          color: var(--color-neutral-250) !important;

          &:hover {
            color: var(--color-neutral-000) !important;
          }
        }
      }
    }

    &-theme {
      &.light > div {
        box-shadow: 0 0 16px 8px var(--color-neutral-300);
      }

      &.dark > div {
        box-shadow: 0 0 24px 2px var(--color-neutral-500);
      }
    }
  }

  &__logout {
    padding: 8px 16px;
    margin: 0 !important;
    height: 40px;

    &.light {
      background-color: var(--color-neutral-150);
      color:  var(--color-neutral-600);

      &:hover {
      }
    }

    &.white {
      background: var(--color-neutral-000) !important;
    }

    &.dark {
      &:hover {
        background-color: var(--color-secondary-500);
      }
    }

    &-text {
      margin-left: 8px;
    }
  }

  &__login {
    &.dark {
      &:hover {
        background-color: var(--color-secondary-500);
      }
    }

    &.white {
      background: var(--color-neutral-000) !important;
    }

    &.light {
    }
  }

  &__register {
    &:hover {
      transform: scale(1.1);
    }
  }

  &__auth-box {
    display: flex;
    gap: 16px;
  }
}

@media (max-width: $device-lg) {
  .control-panel {
    gap: 8px;

    &__auth-box {
      gap: 8px;
    }
  }
}

@media (max-width: $device-md) {
  .control-panel {
    flex-direction: row-reverse;
    width: 100%;
    gap: 32px;

    &__auth-box {
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }

    &__login, &__register, &__logout {
      width: 100%;
      padding: 8px 16px !important;
      transition: none !important;
    }

    &__register {
      background: var(--color-secondary-500) !important;
    }

    &__login {
      &.light {
        background: var(--color-neutral-150);
      }

      &.dark {
        background: var(--color-neutral-700-b);
      }

      &.light {
        color: var(--color-neutral-600) !important;
      }

      &.dark {
        color: var(--color-neutral-000) !important;
      }
    }

    &__controllers {
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 16px;

      &-lang {
        transform: none;
        width: 92px;

        &__indicator {
          transform: rotate(180deg);
        }
      }
    }
  }
}

@media (max-width: $device-sm) {
  .control-panel {
    flex-direction: column-reverse;
    width: 100%;
    gap: 16px;

    &__controllers {
      width: 100%;
      padding-right: 8px;

      &-lang {
        flex-grow: 1;
      }
    }
  }
}

@media (max-width: $device-xs) {
  .control-panel {
    gap: 24px;

    &__auth-box {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &__login, &__register {
      width: 100%;
      padding: 8px 16px !important;
      transition: none !important;
    }
  }
}