@import 'src/styles/mixins/typography.scss';
@import 'src/styles/variables/devices.scss';

.feature {
  &-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 24px 32px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.04);
    flex-basis: calc(50% - 10px); //half of flex gap
  }

  &-icon {
    color: var(--color-neutral-000);
    font-size: 24px;

    &-box {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &-heading {
    margin: 0;
    color: var(--color-neutral-200);
    @include text-H3;

    &.light {
      color: var(--color-neutral-600);
    }

    &.dark {
      color: var(--color-neutral-200);
    }
  }

  &-text {
    margin: 0;
    @include text-S;

    &.light {
      color: var(--color-neutral-525);
    }

    &.dark {
      color: var(--color-neutral-400);
    }
  }
}

@media (max-width: $device-lg) {
  .feature {
    &-box {
      flex-basis: calc(50% - 8px); //half of flex gap
    }
  }
}

@media (max-width: $device-md) {
  .feature {
    &-box {
      gap: 16px;
      padding: 16px 24px;
    }

    &-heading {
      @include text-H4;
    }

    &-icon {
      font-size: 20px;

      &-box {
        width: 52px;
        height: 52px;
      }
    }
  }
}


@media (max-width: $device-sm) {
  .feature {
    &-box {
      width: 100%;
      flex-direction: row;
      padding: 16px 20px;
      align-items: center;
      gap: 16px;
    }

    &-content {
      flex: 1;
      gap: 2px;
    }
  }
}

@media (max-width: $device-xs) {
  .feature {
    &-box {
      gap: 12px;
      padding: 12px;
    }

    &-heading {
      @include text-H5;
    }

    &-text {
      @include text-XS;
    }

    &-icon {
      font-size: 16px;

      &-box {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media (max-height: 750px) and (min-width: $device-sm) {
  .feature {
    &-box {
      gap: 16px;
      padding: 20px;
      flex-direction: row;
      align-items: center;
    }

    &-content {
      flex: 1;
    }

    &-heading {
      font-size: 18px;
    }

    &-icon {
      font-size: 20px;

      &-box {
        width: 52px;
        height: 52px;
      }
    }
  }
}

@media (max-height: 500px) and (min-width: $device-sm) {
  .feature {
    &-box {
      gap: 12px;
      padding: 16px 24px;
    }

    &-heading {
      @include text-H5;
    }

    &-text {
      @include text-XS;
    }
  }
}