@import "src/styles/mixins/typography";

.not-found {
  position: relative;

  &-header {
    position: absolute;
    left: 0;
    top: 2%;
  }

  &-box {
    width: 560px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    & h2 {
      margin: 0;
      font-family: var(--font-family-play);
      letter-spacing: 1.28px;
      font-size: 80px;
      line-height: 88px;
      font-weight: 700;
      color: transparent;
      text-shadow:4px 4px 7px rgba(0, 0, 0, 0.4), 0 0 var(--color-additional-sand);
    }

    & h3 {
      margin: 0;
      font-family: var(--font-family-play);
      letter-spacing: 0.8px;
      font-size: 40px;
      line-height: 48px;
      font-weight: 700;
      color: transparent;
      text-shadow:4px 4px 7px rgba(0, 0, 0, 0.4), 0 0 var(--color-additional-sand);
    }

    & hr {
      margin: 16px 0;
      border: 1px solid var(--color-additional-sand);
      width: 160px;
    }

    & p {
      color: var(--color-additional-sand);
      font-family: var(--font-family-play);
      @include text-S;
      letter-spacing: 1.6px;
      margin: 8px 0 40px 0;
    }

    & span {
      color: var(--color-neutral-000);
    }
  }

  &-btn {
    font-family: var(--font-family-play);
    font-weight: 700;
    border-radius: 3px;

    &-box {
      display: flex;
      gap: 16px;
    }

    &--primary {
      background-color: var(--color-secondary-500);
    }
  }

  ::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
  ::selection { background: #5af; color: #fff; text-shadow: none; }
}