@import 'src/styles/mixins/typography.scss';
@import 'src/styles/variables/devices.scss';

.loader {
  --border-width: 15px;
  border-radius: 50%;

  --mask: radial-gradient(
                  farthest-side,
                  transparent calc(100% - var(--border-width) - 0.5px),
                  #000 calc(100% - var(--border-width) + 0.5px)
  );
  mask: var(--mask);

  background: linear-gradient(to top, rgb(112, 150, 245), rgba(82, 117, 231, 0.5)) 100% 0/50% 100% no-repeat,
  linear-gradient(rgba(62, 127, 224, 0.5) 50%, transparent 95%) 0 0/50% 100% no-repeat;
  animation: spin 1s linear infinite;

  &__title {
    font-size: var(--text-size-extraLarge) !important;
    font-weight: var(--text-weight-light);
    color: var(--color-body);
  }

  &-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: $device-xxl) {
  .loader{
    &__title {
      font-size: var(--text-size-adaptive) !important;
    }
  }
}

@media screen and (max-width: $device-md) {
  .loader{
    &__title {
      font-size: var(--text-size-largeXL) !important;
    }
  }
}

@media screen and (max-width: $device-sm) {
  .loader {
    &-box {
      margin: 100px 0;
    }

    &__title {
      font-size: var(--text-size-largeX) !important;
    }
  }
}