@import 'src/styles/variables/devices.scss';

.control-panel {
  &-layout {
    position: fixed;
    z-index: 10000;
    transition: left 1s;
    width: 100vw;
    right: 0;
    top: 80px;
    bottom: 0;
    left: 0;
    padding: 20px 20px 48px 20px;
    background-color: var(--color-neutral-700-b);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &.light {
      background-color: var(--color-light-background);
    }

    &.dark {
      background-color: var(--color-neutral-800);
    }
  }

  &__top-box {
    width: 100%;
  }

  &__close-btn {
    font-size: 24px;
    line-height: 1.5em;
    cursor: pointer;
    margin: 10px;

    &.light {
      color: var(--color-neutral-500);
    }

    &.dark {
      color: var(--color-neutral-300);
    }

    &.white {
      color: var(--color-neutral-000) !important;
    }
  }
}

@media (max-width: $device-sm) {
  .control-panel-layout {
    top: 70px;
  }
}