@import "src/styles/mixins/typography";

.login {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 500px;

  &-form {
    border-radius: 16px;
    border-top: 1px solid var(--color-neutral-000);
    background: rgba(255, 255, 255, 0.83);
    backdrop-filter: blur(2px);
    width: 480px;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &-header {
      @include text-XL;
      font-family: var(--font-family-nicomoji);
      text-transform: uppercase;
      color: var(--color-neutral-900);
      margin: 0 0 16px 0;
    }
  }

  &-label {
    position: relative;
    width: 88%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--color-neutral-600);
    @include text-H4;
    font-weight: 600;

    &-addon {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      color: var(--color-neutral-550);
      font-family: var(--font-family-play);
      letter-spacing: 0.8px;
      @include text-S;
      line-height: var(--text-height-H4);
      transition: all 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        color: var(--color-secondary-500);
      }
    }
  }

  &-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    padding: 9px 20px;
    border: 1px solid var(--color-neutral-000);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.85);
    @include text-S;

    &-box {
      position: relative;
    }

    &-icon {
      position: absolute;
      width: 16px;
      height: 16px;
      top: calc(50% - 16px/2);
      right: 20px;
      color: var(--color-neutral-600);
      transition: all 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        color: var(--color-secondary-500);
      }
    }

    &::placeholder {
      color: var(--color-neutral-500);
    }

    &:hover {
      border: 1px solid var(--color-secondary-500)!important;
    }

    &:focus {
      outline: none;
      border: 1px solid var(--color-tertiary-500)!important;
    }
  }

  &-header {
    position: absolute;
    left: 0;
    top: 2%;
  }

  &-switch {
    &-box {
      display: flex;
      gap: 8px;
      margin-bottom: 8px;
    }

    &-text {
      margin: 0;
      color: var(--color-neutral-550);
      @include text-L;
    }

    &-link {
      margin: 0;
      color: var(--color-secondary-500);
      font-family: var(--font-family-play);
      letter-spacing: 0.8px;
      @include text-H4;
      transition: all 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        color: var(--color-tertiary-500);
      }
    }
  }

  .error {
    &-login {
      border: 1px solid var(--color-brand-danger-500);
    }

    &-box {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-message {
      color: var(--color-brand-danger-500);
      margin: 0;
      @include text-XS;
    }

    &-icon {
      width: 16px;
      height: 16px;
      color: var(--color-brand-danger-500);
    }
  }

  &-btn {
    color: var(--color-neutral-550) !important;
    background: var(--color-neutral-000) !important;
    border: 1px solid var(--color-neutral-000) !important;
    padding: 6px 20px;
    margin: 8px 0 12px 0;
    box-shadow: 0 8px 8px 0 rgba(104, 118, 240, 0.25);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    @include text-H5;

    & span {
      font-family: var(--font-family-play);
      letter-spacing: .1rem;
      position: relative;
      background: inherit;
      transition: all 0.2s ease-in-out;

      &::before {
        position: absolute;
        content: "";
        background: inherit;
      }
    }

    &:hover {
      background: var(--color-neutral-000) !important;
      border: 1px solid var(--color-secondary-500) !important;
      box-shadow: 0 0 8px 0 rgba(104, 118, 240, 0.6);

      & span {
        color: var(--color-secondary-500);

        &::before {
          animation: chitchat-login linear both 1.25s;
        }
      }
    }

    &:focus {
      background: var(--color-neutral-000);
      box-shadow: 0 0 8px 0 rgba(104, 118, 240, 0.6);
      border: 1px solid var(--color-secondary-500);

      & span {
        color: var(--color-secondary-500);

        &::before {
          animation: chitchat-login linear both 1.25s;
        }
      }
    }
  }

  @keyframes chitchat-login {
    0% {
      content: "#";
    }

    5% {
      content: "!";
    }

    10% {
      content: "^";
    }

    15% {
      content: "!%";
    }

    20% {
      content: "#$";
    }

    25% {
      content: "§%";
    }

    30% {
      content: "#:+";
    }

    35% {
      content: "@=.";
    }

    40% {
      content: "}?`";
    }

    45% {
      content: "=8^!";
    }

    50% {
      content: "2@%";
    }

    55% {
      content: "\;1}";
    }

    60% {
      content: "?{%:";
      right: 0;
    }

    65% {
      content: "!§$";
      right: 0;
    }

    70% {
      content: "|%3";
      right: 0;
    }

    75% {
      content: "^-^";
      right: 0;
    }

    80% {
      content: "%";
      right: 0;
    }

    85% {
      content: ">";
      right: 0;
    }

    90% {
      content: "9";
      right: 0;
    }

    95% {
      content: "6";
      right: 0;
    }

    100% {
      content: "";
      right: 0;
    }
  }
}

@media (max-width: 374px) {
  .login-switch-box {
    flex-direction: column;
    align-items: center;
  }
}