@import 'src/styles/mixins/typography.scss';
@import 'src/styles/variables/devices.scss';

.carousel-item-box {
  @include text-L;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--font-family-play);

  &.light {
    color: var(--color-neutral-550);
  }

  &.dark {
    color: var(--color-neutral-300);
  }
}

.dluTbn {
  overflow: hidden !important;
  margin: 0 0 0 !important;
}

.bhHnmT {
  margin: 0 !important;
}

@media (max-width: $device-lg) {
  .carousel-item-box {
    width: 100%;
    display: flex;
  }
}

@media screen and (max-width: $device-md) {
  .ljqpTR {
    padding-left: 0 !important;
    grid-column-gap: 20px !important;
    grid-template-columns: repeat(5,100%) !important;
  }

  .gesiTf:last-of-type > :last-of-type {
    padding-right: 0 !important;
    margin-right: 0 !important;
  }
}

