.multi-switch-container {
  display: flex;
  gap: 8px;
  height: 30px;
  margin-top: 3px;
  padding: 4px;
  background-color: #fff;
  width: 200px;
  border-radius: 8px;
  border: solid 1px #ddd;
  position: relative;
}

.multi-switch-content {
  float: left;
  width: 100%;
  bottom: 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 36px;
  color: #000;
  text-align: center;
  cursor: pointer;
  position: inherit;
  z-index: 10;
  transition: color 0.75s cubic-bezier(0, 1, 0, 0);
  will-change: transform;
  animation: switch-handle-color 0.5s;
}

.multi-switch-handle {
  position: absolute;
  float: left;
  font-size: 12px;
  cursor: pointer;
  background-color: #3366cc;
  border-radius: 8px;
  transition: left 0.5s cubic-bezier(0.17, 0.67, .83, .67);
  will-change: transform;
  animation: switch-handle-move 0.5s;
}

@keyframes multi-switch-handle-move {
  0% { left: 2px; }
}

@keyframes multi-switch-handle-color {
  0% {color: white;}
}