@import "src/styles/mixins/typography";
@import 'src/styles/variables/devices.scss';

header {
  width: 100%;

  & .watch-list {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: right;
    transition: 1s;
    padding: 4px 16px;

    font-family: var(--font-family-plus);
    @include text-H5;

    &__star {
      margin-right: 6px;

      &.light {
        color: var(--color-neutral-400);
      }

      &.dark {
        color: var(--color-neutral-300);
      }
    }

    &.dark {
      background: none;

      &:hover {
        background-color: var(--color-secondary-400);

        svg {
          color: var(--color-neutral-000);
        }
      }
    }

    &.white {
      background: var(--color-neutral-60) !important;
    }
  }
}

.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
  z-index: 200;

  &__empty-div {
    width: 15%;
  }

  &-right {
    display: flex;
    justify-content: right;
  }
}

.second {
  margin-bottom: 0;
  padding: 16px 0 16px 4px;
  position: relative;
  z-index: 100;

  &.light {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }

  &.dark {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }

  & > * {
    width: 100%;
  }
}

@media (max-width: $device-lg) {
  .watch-list {
    &.white.light {
      background: var(--color-neutral-10) !important;
      color: var(--color-neutral-000);

      svg {
        color: var(--color-neutral-000);
      }
    }
  }
}

@media (max-width: $device-md) {
  .watch-list {
    padding: 20px 12px !important;
    background-color: transparent !important;
    transition: none !important;
    width: 100%;
    justify-content: left !important;
    margin-bottom: 30px;

    &.light {
      border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    }

    &.dark {
      border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    }
  }

  .first {
    z-index: 10001;
    position: relative;
  }


  .second {
    padding: 8px 0 8px 4px;
  }
}
