@import "src/styles/mixins/typography";
@import 'src/styles/variables/devices.scss';

.modal {
  &-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(2px) brightness(95%);
    backdrop-filter: blur(2px) brightness(95%);
    cursor: pointer;
    overflow-y: scroll;
  }

  &-box {
    position: absolute;
    width: 90%;
    height: max-content;
    max-width: 720px;
    max-height: 700px;
    padding: 36px 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 16px;
    cursor: default;

    &.light {
      background-color: rgba(246, 246, 248, 0.9);
      border: 1px solid var(--color-neutral-250);
    }

    &.dark {
      background-color: rgba(74, 74, 80, 0.91);
    }

    & .close-btn {
      position: absolute;
      top: 24px;
      right: 24px;
      font-size: 24px;
      line-height: 1.5em;
      cursor: pointer;

      &.light {
        color: var(--color-neutral-500);
      }

      &.dark {
        color: var(--color-neutral-300);
      }
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 4px;
  }

  &-subheading {
    margin: 0;
    color: var(--color-secondary-400);
    @include text-H3;
  }

  &-heading {
    margin: 0;
    @include text-H1;

    &.light {
      color: var(--color-neutral-600);
    }

    &.dark {
      color: var(--color-neutral-000);
    }
  }

  &-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  &-btn {
    padding: 8px 20px;

    &-register {
      &:hover {
        transform: scale(1.05);
      }
    }

    &.light {
      border-color: var(--color-neutral-300);

      &:hover {
        border-color: var(--color-primary-500);
      }
    }

    &-group {
      display: flex;
      gap: 12px;
      padding-left: 4px;
    }
  }
}

@media (max-width: $device-lg) {
  .modal {
    &-box {
      gap: 32px;
    }

    &-grid {
      gap: 16px;
    }

    &-btn {
      padding: 8px 16px;
    }
  }
}


@media (max-width: $device-md) {
  .modal {
    &-box {
      gap: 24px;
      width: calc(100% - 16px*2);
    }

    &-header {
      gap: 4px;
    }

    &-subheading {
      @include text-H4;
    }

    &-heading {
      @include text-H2;
    }
  }
}

@media (max-width: $device-sm) {
  .modal {
    &-box {
      padding: 36px 12px 24px 12px;
      width: calc(100% - 8px*2);
    }

    &-grid {
      flex-direction: column;
      gap: 12px;
    }
  }
}

@media (max-width: $device-xs) {
  .modal {
    &-grid {
      gap: 8px;
    }

    &-subheading {
      width: calc(100% - 48px);
    }
  }
}


@media (max-height: 800px) and (min-width: $device-md) {
  .modal {
    &-box {
      gap: 24px;
    }

    &-subheading {
      @include text-H4;
    }

    &-heading {
      @include text-H2;
    }
  }
}

@media (max-height: 470px) and (min-width: $device-lg) {
  .modal {
    &-box {
      gap: 24px;
      top: 16px;
    }
  }
}

@media (max-height: 540px) and (max-width: $device-lg) {
  .modal {
    &-box {
      gap: 24px;
      top: 16px;
    }
  }
}

@media (max-height: 560px) and (max-width: $device-md) {
  .modal {
    &-box {
      gap: 24px;
      top: 16px;
    }
  }
}

@media (max-height: 720px) and (max-width: $device-sm) {
  .modal {
    &-box {
      gap: 24px;
      top: 16px;
    }
  }
}
