@import "src/styles/mixins/typography";
@import 'src/styles/variables/devices.scss';

.roadmap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1800px;
  width: 80%;

  &-icon {
    margin-right: 4px;
  }

  &-title {
    font-variant-numeric: lining-nums tabular-nums;
    @include text-H3;

    &.light {
      color: var(--color-neutral-600);
    }

    &.dark {
      color: var(--color-neutral-000);
    }

    &-box {
      margin: 40px 0;
      width: 100%;
      font-family: var(--font-family-plus);
    }

    &__text {
      @include text-S;

      &.light {
        color: var(--color-neutral-550);
      }

      &.dark {
        color: var(--color-neutral-300);
      }
    }
  }

  &-list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    &-item {
      width: 100%;
      display: flex;
      gap: 16px;
    }
  }

  &-chrono {
    &-box {
      display: flex;
      padding: 0 8px;
      flex-direction: column;
      align-items: center;
    }

    &-dot {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      display: inline-block;

      &.light {
        background-color: var(--color-neutral-600);
      }

      &.dark {
        background-color: var(--color-neutral-000);
      }
    }

    &-line {
      width: 1px;

      &.light {
        background-color: var(--color-neutral-400);
      }

      &.dark {
        background-color: var(--color-neutral-550);
      }

      &-start {
        height: 10px;
      }

      &-end {
        height: 100%;
      }
    }
  }

  &-content {
    &-list {
      @include text-S;
      padding-left: 24px;
      line-height: 26px;
      margin: 0;

      &.light {
        color: var(--color-neutral-550);
      }

      &.dark {
        color: var(--color-neutral-300);
      }
    }

    &-title {
      @include text-H3;
      font-variant-numeric: lining-nums tabular-nums;
      margin: 0;

      &.light {
        color: var(--color-secondary-500);
      }

      &.dark {
        color: var(--color-primary-500);
      }
    }

    &-box {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &-button {
    background-color: transparent !important;
    transition: 0.5s;
    padding: 0 4px;
    height: 100%;
    width: 60px;
    justify-content: flex-start;
    font-weight: var(--text-weight-semi-bold);
    box-shadow: none;

    &.light {
      color: var(--color-neutral-500);

      &:hover {
        color: var(--color-primary-400);
      }
    }

    &.dark {
      color: var(--color-neutral-400);

      &:hover {
        color: var(--color-primary-600);
      }
    }

    &__rated {
      color: var(--color-primary-600) !important;
    }

    &-box {
      display: flex;
      gap: 40px;
      margin-bottom: 24px;
    }
  }
}

@media (max-width: $device-lg) {
  .roadmap {
    width: 90%;
    overflow: hidden;

    &-title-box {
      margin: 32px 0;
    }
  }
}

@media (max-width: $device-md) {
  .roadmap {
    &-title-box {
      margin: 24px 0;
    }
  }
}

@media (max-width: $device-sm) {
  .roadmap {
    width: 100%;
    padding: 0 8px;

    &-title-box {
      margin: 16px 0;
    }
  }
}
