@use "src/styles/mixins/typography";
@use "src/styles/variables/colors";

.title{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & h1 {
    @include typography.text-H0;

    font-family: var(--font-family-play);
    font-weight: var(--text-weight-semi-bold);
    color: var(--color-neutral-000);
    margin: 0;
    letter-spacing: 1.2px;
  }

  & p {
    @include typography.text-H1;

    color: var(--color-neutral-000);
    margin: 0;
  }
}