@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'normalize.css';

@import './variables';

@import './utils';

@import './mixins/typography';

@import './fonts/fonts.scss';

* {
  user-select: none;
}

body {
  background-color: var(--color-background-dark);

  font-family: var(--font-family-plus);

  @include text-L;
  color: var(--color-body);
  position: relative;
}

#root {
}

#modal {
}

h1, h2, h3, h4 {
  font-family: var(--font-family-plus);
  @include display-large;
}

*::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  overflow: hidden !important;
}

a {
  text-decoration: none;
  outline: none;
}

.background {
  padding: var(--wrapper-top) var(--wrapper-left);
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-scroll {
    min-height: 100vh;
    height: auto;
  }

  &.light {
    background-color: var(--color-light-background);
  }

  &.dark {
    background-color: var(--color-neutral-800);
  }

  &-main {
    &.light {
      background: url("../assets/main-bg-light.png") no-repeat;
      background-size: cover;
    }

    &.dark {
      background: url("../assets/main-bg.png") no-repeat;
      background-size: cover;
    }
  }

  &-login {
    background: url("../assets/bg-login.png") no-repeat fixed;
    background-size: cover;
    height: 100vh;
  }

  &-register {
    background: url("../assets/bg-register.png") no-repeat fixed;
    background-size: cover;
    height: 100vh;
  }

  &-not-found {
    background: url("../assets/bg-404.png") no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

.section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: calc(90vh - var(--wrapper-top) * 2);

  &-center {
    justify-content: center;
    margin: 0;
  }
}

@media (max-height: 880px) and (min-width: $device-xl){
  .section {
    height: 100%;
  }

  .background {
    overflow: scroll;
  }
}

@media (max-width: $device-xl) {
  .section {
    height: 100%;
  }

  .background {
    overflow: scroll;
  }

  .background {
    padding: var(--wrapper-top) 20px;
  }
}

@media (max-width: $device-lg) {
  .background {
    &-main {
      &.light {
        background-size: 250% 100%;
      }

      .backdrop-filter {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        &.light {
          backdrop-filter: brightness(95%);
        }

        &.dark {
          backdrop-filter: brightness(85%);
        }
      }
    }
  }

  .section {
    z-index: 2;
  }
}

@media (max-width: $device-sm) {
  .background {
    padding: 16px;
  }
}