@import 'src/styles/variables/devices.scss';

.toggle-plots__control {
  display: flex;
  gap: 32px;
  width: 100%;

  &-block {
    width: 100%;
    height: 45px;
    position: absolute;
    z-index: 100;
    cursor: not-allowed;
  }

  &-plotsType {
    position: relative;
  }
}


@media (max-width: $device-xl) {
  .toggle-plots__control {
    display: flex;
    gap: 16px;
  }
}

@media (max-width: $device-lg) {
  .toggle-plots__control {
    justify-content: space-between;
  }
}

@media (max-width: $device-sm) {
  .toggle-plots__control {
    flex-direction: column;
    gap: 8px;

    &-plotsType {
      display: flex;
      justify-content: center;
    }

    &-days {
      display: flex;
      justify-content: center;
    }
  }
}


@media (max-width: $device-xs) {
  .toggle-plots {
    &__hint {
      margin: 24px 8px !important;
    }
  }
}
