html,
body,
#root {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

button,
a {
  margin: 0;
  padding: 0;

  border: 0;

  background-color: transparent;

  font: inherit;
  color: inherit;
  text-decoration: none;

  cursor: pointer;
}

* {
  box-sizing: border-box;
}

input {
  margin: 0;
  padding: 0;

  color: inherit;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  text-overflow: ellipsis;
}

/* mobile device */
@media (pointer: coarse) {
}

/* desktop */
@media (pointer: fine), (pointer: none) {
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 8px;
  }

  *::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: var(--color-border);
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-icon);
  }
}

/* touch desktop */
@media (pointer: fine) and (any-pointer: coarse) {
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 8px;
  }

  *::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: var(--color-border);
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-icon);
  }
}
