@import 'src/styles/mixins/typography.scss';
@import 'src/styles/variables/devices.scss';

.search-list {
  &__control-box {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }

  &__filters-box {
    margin-left: 8px;
  }

  &__search-box {
    position: relative;
    flex: 1;

    &-full {
      width: 100%;
    }
  }

  &__table-box {
    width: 100%;
    overflow-x: scroll;
  }

  &__search-icon {
    position: absolute;
    top: 12px;
    right: 20px;

    &.light {
      color: var(--color-neutral-500);
    }

    &.dark {
      color: var(--color-neutral-300);
    }
  }

  &__input {
    @include text-S;
    font-weight: var(--text-weight-medium);
    border-radius: 8px;
    padding: 8px 16px;

    &.light {
      background: var(--color-neutral-150);
      color: var(--color-neutral-550);

      &:hover, &:focus {
        border-color: var(--color-neutral-300);
      }

      &::placeholder {
        color: var(--color-neutral-800);
      }
    }

    &.dark {
      background: var(--color-neutral-700-b);
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05);
      color: var(--color-neutral-200);

      &:hover, &:focus {
        border-color: var(--color-neutral-600);
      }

      &::placeholder {
        color: var(--color-neutral-000);
      }
    }
  }
}

@media (max-width: $device-md) {
  .search-list {
    &__control-box {
      flex-direction: column-reverse;
      align-items: center;
      gap: 10px;
    }

    &__filters-box {
      width: 100%;
      margin: 0;
    }

    &__search-box {
      width: 100%;
    }
  }
}
