@import 'src/styles/mixins/typography.scss';
@import 'src/styles/variables/devices.scss';

.button {
  @include text-S;
  box-sizing: border-box;
  padding: 4px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  transition: 0.5s;

  &.light {
    border: 1px solid transparent;
    color: var(--color-neutral-550);
    background-color: var(--color-neutral-150);

    &:hover {
      color: var(--color-primary-400);
      background-color: var(--color-primary-100);

      svg {
        color: var(--color-primary-400);
      }
    }
  }

  &.dark {
    color: var(--color-neutral-000);
    border: 1px solid transparent;
    background: var(--color-neutral-10);
    box-shadow: 0 8px 8px 0 var(--color-neutral-05);

    &:hover {
      background-color: var(--color-neutral-550);
    }
  }

  &:not(&.disabled):hover {

  }

  &:not(&.disabled):active,
  &:not(&.disabled):focus {

  }
}

.outline {
  &.light {
    border: 1px solid var(--color-primary-500) !important;
  }

  &.dark {
    border: 1px solid var(--color-neutral-10) !important;
  }
}

.primary {
  position: relative;
  overflow: hidden;
  background: var(--color-gradient-blue--darker) !important;
  color: var(--color-neutral-000) !important;
  transition: 0.5s;

  &:not(.disabled):hover,
  &:not(.disabled):active,
  &:not(.disabled):focus {
  }
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (max-width: $device-xs) {
  .button {
    padding: 4px 12px;
  }
}

