@import 'src/styles/mixins/typography.scss';

.stat {
  display: flex;
  justify-content: space-between;

  &-text {
    @include text-L;
    text-wrap: nowrap;
    margin: 0;

    &.light {
      color: var(--color-neutral-550);
    }

    &.dark {
      color: var(--color-neutral-300);
    }
  }

  &-value {
    @include text-L;
    margin: 0;

    &.light {
      color: var(--color-secondary-500);
    }

    &.dark {
      color: var(--color-neutral-000);
    }
  }
}