:root {
  --color-neutral-000: #ffffff;
  --color-neutral-05: rgba(0, 0, 0, 0.05);
  --color-neutral-10: rgba(255, 255, 255, 0.1);
  --color-neutral-20: rgba(255, 255, 255, 0.2);
  --color-neutral-50: rgba(255, 255, 255, 0.5);
  --color-neutral-60: rgba(255, 255, 255, 0.6);
  --color-neutral-100: #f8f5f5;
  --color-neutral-150: #eeeff1;
  --color-neutral-200: #EBECEE;
  --color-neutral-250: rgb(204, 204, 204);
  --color-neutral-300: #C4C8D0;
  --color-neutral-350: #b5b9c2;
  --color-neutral-400: #969BA4;
  --color-neutral-500: #929292;
  --color-neutral-525: #696969;
  --color-neutral-550: #515151;
  --color-neutral-570: #47484d;
  --color-neutral-600: #414247;
  --color-neutral-700-b: #37373D;
  --color-neutral-700-g: #303030;
  --color-neutral-800: #2C2D33;
  --color-neutral-900: #252525;

  --color-primary-100: #e8f1ff;
  --color-primary-200: #C1E5FF;
  --color-primary-400: #5EBBFE;
  --color-primary-500: #3EAEFF;
  --color-primary-600: #30A8FF;
  --color-primary-700: #3699de;

  --f: rgba(50, 182, 250, 0.2);

  --color-secondary-10: rgba(104, 118, 240, 0.08);
  --color-secondary-15: rgba(104, 118, 240, 0.15);
  --color-secondary-25: rgba(104, 118, 240, 0.25);
  --color-secondary-100: #F0F1FE;
  --color-secondary-200: #E1E4FC;
  --color-secondary-300: #D2D6FB;
  --color-secondary-400: #7F8AF2;
  --color-secondary-500: #6876F0;
  --color-secondary-600: #6170FA;

  --color-tertiary-400: #FF9CD9;
  --color-tertiary-500: #FF71C9;
  --color-tertiary-600: #FF63C3;

  --color-brand-danger-500: #F94772;

  --color-brand-success-500: #41FFD1;
  --color-brand-success-600: #00d297;
  --color-brand-success-700: #0CB68D;

  --color-additional-sand: #D2BBB4;

  // Gradient
  --color-gradient-blue--dark: linear-gradient(45deg, #8ff3fa, #7463F1);
  --color-gradient-blue--darker: linear-gradient(45deg, #10d4e5, #7463F1);
  --color-gradient-yellow--dark: linear-gradient(45deg, #f3ec78, #af4261);

  // Light
  --color-light-background: #fcfcff;
  --color-light-text: #5b677c;
}