$device-xxs: 350px;  // Extra extra small devices (portrait phones)
$device-xs: 460px;  // Extra small devices (portrait phones)
$device-sm: 576px;  // Small devices (landscape phones)
$device-md: 768px;  // Medium devices (tablets)
$device-lg: 992px;  // Large devices (desktops)
$device-xl: 1280px; // Extra large devices (large desktops)
$device-xxl: 1680px;