:root {
  /* Font family */
  --font-family-plus: 'Plus Jakarta Sans', sans-serif;
  --font-family-play: 'Play', sans-serif;
  --font-family-nicomoji: 'Nico Moji', sans-serif;

  // Text
  --text-size-H0: 48px;
  --text-size-H1: 32px;
  --text-size-H2: 24px;
  --text-size-H3: 20px;
  --text-size-H4: 16px;
  --text-size-H5: 14px;
  --text-size-H6: 12px;
  --text-size-L: 16px;
  --text-size-S: 14px;
  --text-size-XS: 12px;

  --text-weight-bold: 800;
  --text-weight-semi-bold: 700;
  --text-weight-medium: 600;
  --text-weight-semi-medium: 500;
  --text-weight-regular: 400;
  --text-weight-light: 300;

  --text-height-H0: 52px;
  --text-height-H1: 38px;
  --text-height-H2: 32px;
  --text-height-H3: 28px;
  --text-height-H4: 24px;
  --text-height-H5: 22px;
  --text-height-H6: 20px;
  --text-height-L: 24px;
  --text-height-S: 22px;
  --text-height-XS: 20px;

  // Display
  --display-size-XXL: 88px;
  --display-size-XL: 40px;
  --display-size-L: 28px;
  --display-size-medium: 20px;
  --display-size-small: 16px;

  --display-weight-large: 500;
  --display-weight-medium: 500;
  --display-weight-small: 600;

  --display-height-large: 32px;
  --display-height-medium: 20px;
  --display-height-small: 16px;
}
