@import "src/styles/mixins/typography";
@import 'src/styles/variables/devices.scss';

.comments {
  width: 100%;
  height: 100%;
  position: relative;

  &__list {
    height: calc(100% - 112px - 46px - 58px);
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 5px 0;
    padding-left: 4px;
  }

  &__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    padding: 16px;

    &.light {
      background-color: var(--color-neutral-150);
    }

    &.dark {
      background-color: var(--color-neutral-600);
    }

    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
      @include text-H4;

      &.light {
        color: var(--color-neutral-600);
      }

      &.dark {
        color: var(--color-neutral-000);
      }

      & img {
        margin-right: 8px;
      }
    }

    &-link {
      transition: 0.5s;

      &.light {
        background-color: var(--color-neutral-000);

        &:hover {
          background-color: var(--color-primary-500);
          border-color: var(--color-primary-500);
          color: var(--color-neutral-000);

          & svg {
            color: var(--color-neutral-000);
          }

          .comments__head-link-svg {
            fill: var(--color-neutral-000);
          }
        }
      }

      &.dark {
        &:hover {
          background-color: var(--color-neutral-525);
        }
      }
    }

    &-links {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__sub-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      &-queryStatus {
        margin-left: 20px !important;
      }

      & button {
        @include text-H5;
        border-radius: 8px;
        margin-right: 8px;
      }
    }

    &-top {
      background-color: var(--color-primary-500) !important;
      color: var(--color-neutral-000) !important;

      &:hover {
        background-color: var(--color-primary-700) !important;
      }
    }

    &-linkIcon, &-atIcon {
      color: var(--color-neutral-400);
      text-align: center;
    }

    &-redditIcon, &-linkIcon {
      margin-right: 6px;
      width: 16px;

      &-b {
        margin: 0;
      }
    }
  }

  &__empty-list {
    border-radius: 8px;
    padding: 12px 16px 16px 16px;
    margin-top: 24px;
    @include text-S;

    &.light {
      color: var(--color-neutral-550);
      background-color: var(--color-neutral-150);
    }

    &.dark {
      color: var(--color-neutral-300);
      background-color: var(--color-neutral-600);
    }
  }

  &__tickIcon {
    color: var(--color-brand-success-500);
    margin-left: 5px;
  }

  &__xmarkIcon {
    color: var(--color-brand-danger-500);
    margin-left: 5px;
  }

  &__new-comment {
    padding: 12px 16px;
    z-index: 30;
    position: relative;
    border-radius: 8px;
    @include text-XS;

    &.light {
      background-color: var(--color-neutral-150);
      color: var(--color-neutral-550);
      border-color: var(--color-neutral-150);
    }

    &.dark {
      background-color: var(--color-neutral-600);
      color: var(--color-neutral-200);
      border-color: var(--color-neutral-600);
    }

    &:focus {
      border-radius: 8px 8px 0 0;
    }

    &__accountsList {
      border-radius: 8px 8px 0 0;
      width: 100%;
      position: absolute;
      z-index: 20;
      overflow-y: scroll;
      min-height: 60px;
      max-height: 240px;

      &.light {
        background-color: var(--color-neutral-150);

        & p:hover {
          background-color: var(--color-neutral-200);
        }
      }

      &.dark {
        background-color: var(--color-neutral-600);

        & p:hover {
          background-color: var(--color-neutral-570);
        }
      }

      & p {
        color: var(--color-primary-600);
        padding: 16px;
        margin: 0;

        &:hover {
          cursor: pointer;
        }
      }

      &-empty {
        color: var(--color-neutral-300) !important;
        text-align: center;
        @include text-S;


        &:hover {
          background-color: var(--color-neutral-600) !important;
          cursor: default !important;


        }
      }
    }

    &__reply {
      border-radius: 8px 8px 0 0;
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      bottom: 40px;
      z-index: 20;
      padding: 0 16px;
      @include text-S;

      &.light {
        color: var(--color-neutral-550);
        background-color: var(--color-neutral-150);
      }

      &.dark {
        color: var(--color-neutral-300);
        background-color: var(--color-neutral-600);
      }

      &-subBox {
        display: flex;
        align-items: center;

        & p span {
          color: var(--color-primary-500);
        }
      }

      &-xmark {
        cursor: pointer;
      }

      &-icon {
        margin-right: 8px;
      }
    }

    &-box {
      border-radius: 8px;
      position: relative;
      bottom: 0;
      width: 100%;

      &.light {
        background-color: var(--color-neutral-150);
      }

      &.dark {
        background-color: var(--color-neutral-600);
      }
    }

    &-post {
      flex: 1;
    }

    &__control {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      gap: 6px;
      align-items: center;
      position: absolute;
      border-radius: 0 0 8px 8px;
      width: 100%;
      top: 40px;

      &.light {
        background-color: var(--color-neutral-150);

        & button {
          background-color: var(--color-neutral-000);

          &:not(.primary) {
            border-color: var(--color-neutral-300);
          }

          &:hover {

          }
        }
      }

      &.dark {
        background-color: var(--color-neutral-600);

        & button:hover {

        }
      }

      & button {
        height: 26px;
        @include text-H6;
      }
    }
  }
}

@media (max-width: $device-sm) {
  .comments {
    &__head-links {
      button {
        font-size: 12px;
        padding: 2px 8px;
      }
    }
  }
}

@media (max-width: $device-xxs) {
  .comments {
    &__head-linkIcon {
      display: none;
    }
  }
}

