@use "src/styles/mixins/typography";
@import 'src/styles/variables/devices.scss';

.home {
  align-items: center;
  max-width: 1800px;

  &__left-box, &__right-box {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 30%;
  }

  &__right-box {
    align-items: center;
    padding-left: 32px;
  }

  &__images-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
  }

  &__btc, &__bnb, &__eth {
    position: absolute;
    animation: float 3s ease-in-out infinite;
  }

  &__btc {
    right: 5%;
    top: 20%;
  }

  &__bnb {
    top: 40%;
    left: 0;
    animation-delay: 0.4s;
  }

  &__eth {
    right: 0;
    top: 70%;
    animation-delay: 0.8s;
  }

  &__fox {
    width: 60%;
  }

  &__title {
    &.light h1 {
      color: var(--color-neutral-000);
      letter-spacing: 0.72px;
    }

    &.dark h1 {
      color: var(--color-neutral-000);
      letter-spacing: 0.72px;
    }
  }

  @keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(40px);}
    100% {transform: translateY(0px);}
  }

  &__carousel-box {
    border-radius: 16px;
    padding: 32px 28px;

    &.light {
      border-top: 2px solid var(--color-neutral-000);
      background: linear-gradient(0deg, var(--color-neutral-60), var(--color-neutral-20));
    }

    &.dark {
      border-top: 1px solid var(--color-neutral-000);
      background: linear-gradient(0deg, var(--color-neutral-10), var(--color-neutral-10));
    }

    &-title {
      & h1 {
        -webkit-text-stroke: unset;
        @include typography.text-H4;
        margin-bottom: 8px;
      }

      &.light h1 {
        color: var(--color-secondary-500);
      }

      &.dark h1 {
        color: var(--color-neutral-000);
      }
    }

    &-navigate {
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      margin-top: 24px;
      transition: all 0.2s ease-in-out;

      & span {
        @include typography.text-L;
        font-family: var(--font-family-nicomoji);
        letter-spacing: 0.04rem;
        transition: all 0.2s ease-in-out;

        &.light {
          color: var(--color-primary-500);
        }

        &.dark {
          color: var(--color-neutral-000);
          text-shadow:  0 2px rgba(104, 118, 240, 0.50);
          -webkit-text-stroke: 0.8px #6876F0;
        }
      }

      .play {
        @include typography.text-H2;
        transition: all 0.2s ease-in-out;

        &.light {
          color: var(--color-primary-400);
        }

        &.dark {
          color: var(--color-neutral-000);
        }
      }

      &:hover {
        & span {
          &.light {
            color: var(--color-tertiary-500);
          }

          &.dark {
            text-shadow:  0 2px rgba(234, 105, 245, 0.50);
            -webkit-text-stroke: 0 #EA69F5;
          }
        }

        & .play.light {
          color: var(--color-neutral-000);
          filter: drop-shadow(0 2px 3px #EA69F5);
        }

        & .play.dark {
          filter: drop-shadow(0 2px 3px #EA69F5);
        }
      }
    }
  }
}

@media (max-height: 680px) and (min-width: $device-lg) {
  .home {
    margin-top: 40px;
    align-items: flex-start;

    &__fox {
      width: 50%;
    }

    &__bnb {
      top: 30%;
    }

    &__btc {
      top: 5%;
    }

    &__eth {
      top: 55%;
    }
  }
}

@media (max-width: $device-xxl) {
  .home {
    &__fox {
      width: 70%;
    }

    .home__carousel-box-navigate {
      margin-top: 16px;
    }

    &__btc,
    &__bnb,
    &__eth {
      width: 72px;
    }
  }
}

@media (max-width: $device-xl) {
  .home {
    &__left-box, &__right-box {
      gap: 40px;
      width: 33%;
    }

    &__right-box {
      align-items: center;
      padding-left: 32px;
    }

    &__images-box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex: 1;
    }

    &__title {
      & h1 {
        line-height: 48px !important;
        font-size: 40px !important;
      }
    }

    &__carousel-box {
      padding: 24px 20px;
    }

    &__btc,
    &__bnb,
    &__eth {
      width: 64px;
    }
  }
}

@media (max-width: $device-lg) {
  .home {
    flex-direction: column;

    &__left-box, &__right-box {
      width: 100%;
      align-items: center;
      gap: 3rem;
    }

    &__right-box {
      flex-direction: column-reverse;
      justify-content: center;
      padding-bottom: 3rem;
      padding-left: 0;
    }

    &__images-box {
      width: 65vw;
      margin: 24px 0 48px 0;
    }

    &__fox {
      width: 55%;
    }

    &__carousel-box {
      width: 80%;
      padding: 32px 28px;

      &.light {
        border: 1px solid transparent;
        background: var(--color-neutral-60);
      }
    }

    &__title {
      width: 85%;
      margin-top: 3rem;
      text-align: center;
    }

    &__btc,
    &__bnb,
    &__eth {
      width: 72px;
    }
  }
}

@media (max-width: $device-md) {
  .home {
    &__title {
      margin-top: 2rem;

      & h1 {
        line-height: 48px !important;
        font-size: 36px !important;
      }
    }

    &__images-box {
      width: 70vw;
    }

    &__title {
      width: 100%;
    }

    &__carousel-box {
      &-title {
        text-transform: uppercase;
      }
    }

    &__right-box {
      gap: 2rem;
    }

    &__btc,
    &__bnb,
    &__eth {
      width: 60px;
    }
  }
}

@media (max-width: $device-sm) {
  .home {
    &__carousel-box {
      width: 95%;
    }

    &__images-box {
      width: 85vw;
    }

    &__btc {
      right: 0;
      top: 0;
    }

    &__bnb {
      top: 35%;
      left: -5%;
    }

    &__left-box {
      align-items: flex-start;
      padding: 0 4px;
    }

    &__title h1 {
      line-height: 36px !important;
      font-size: 28px !important;
    }
  }
}

@media (max-width: $device-xs) {
  .home {
    &__title h1 {
      text-align: left;
    }

    &__btc,
    &__bnb,
    &__eth {
      width: 48px;
    }
  }
}
