@use 'src/styles/mixins/typography.scss';
@import 'src/styles/variables/devices.scss';

.simple-stats {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  gap: 40px;
  @include typography.text-XS;

  &.light {
    color: var(--color-neutral-600);
  }

  &.dark {
    color: var(--color-neutral-000);
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__value {
    margin-left: 5px;
    font-weight: var(--text-weight-semi-bold);
  }
}

@media (max-width: $device-xl) {
  .simple-stats {
    gap: 32px;
  }
}

@media (max-width: $device-xs) {
  .simple-stats {
    justify-content: space-between;
  }
}

