@import 'src/styles/mixins/typography.scss';
@import 'src/styles/variables/devices.scss';

.crypto-title {
  font-family: var(--font-family-plus);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  &.light {
    color: var(--color-neutral-600);
  }

  &.dark {
    color: var(--color-neutral-000);
  }

  &__name {
    @include text-H3;
    margin: 0 8px 0 12px;

    &-box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: -16px;

      & img {
        width: 32px;
      }
    }
  }

  &__symbol {
    @include text-H5;
    color: var(--color-primary-500);
  }

  &__price {
    @include text-H1;
    margin-right: 28px;

    &-box {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__percent {
    @include text-S;
    position: relative;

    &-positive {
      &.light {
        color: var(--color-brand-success-600);
      }

      &.dark {
        color: var(--color-brand-success-500);
      }
    }

    &-negative {
      color: var(--color-brand-danger-500);
    }
  }

  &__arrow-sort, &__arrow-sort-revert {
    left: -14px;
    top: 7px;
    position: absolute;
  }

  &__arrow-sort-revert {
    top: 2px;
  }
}

@media (max-width: $device-xs) {
  .crypto-title__percent {
    font-size: var(--text-size-XS);
  }
}
