@import 'src/styles/mixins/typography.scss';

.input {
  width: 100%;

  padding: 10px 16px;

  border: solid 1px transparent;
  border-radius: 5px;

  background-color: var(--color-neutral-000);

  outline-style: inherit;

  @include text-H6;
  font-size: var(--text-size-largeX);
  color: var(--color-body);
  font-family: var(--font-family);

  &::placeholder {
    color: var(--color-placeholder);
  }

  &:hover {
    border-color: var(--color-border);
  }

  &:focus {
    border-color: var(--color-border);
    box-shadow: 0px 1px 2px rgba(150, 152, 151, 0.4);
  }
}
