@import 'src/styles/mixins/typography.scss';

.items-list {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  min-width: 1000px;
  font-variant-numeric: tabular-nums;

  &.light {
    color: var(--color-neutral-550);
  }

  &.dark {
    color: var(--color-neutral-000);
  }

  & thead {
    position: sticky;
    top: 0;
    background-color: var(--color-neutral-800);
    z-index: 20;

    &.light {
      background-color: var(--color-light-background);
    }

    &.dark {
      background-color: var(--color-neutral-800);
    }
  }

  & thead tr th {
    padding: 14px 8px 14px 4px;
    min-width: 35px;
    position: relative;
    text-align: right;
    @include text-H5;

    &.light {
      border-top: 1px solid var(--color-neutral-300);
      border-bottom: 1px solid var(--color-neutral-300);
      color: var(--color-light-text);
    }

    &.dark {
      border-top: 1px solid var(--color-neutral-400);
      border-bottom: 1px solid var(--color-neutral-400);
      color: var(--color-neutral-400);
    }
  }

  & tbody tr td {
    padding: 16px 8px 16px 4px;
    text-align: right;
    @include text-S;
  }

  &__row {
    cursor: pointer;

    &.light:hover {
      background: var(--color-secondary-100);
    }

    &.dark:hover {
      background: var(--color-neutral-700-b);
    }
  }

  &__row td {
    text-align: center;
    position: relative;
  }

  &__titles-row th {
    cursor: pointer;
  }

  &__jsx-content {
    &-cell {
      overflow: hidden;
    }
  }

  &__no-matches {
    width: 100%;

    margin-top: 20px;
    text-align: center;
    @include text-S;

    &.light {
      color: var(--color-neutral-400);
    }

    &.dark {
      color: var(--color-neutral-300);
    }
  }
}

.arrow-sort {
  margin-left: 10px;
  margin-top: 3px;
  position: absolute;

  &-revert {
    margin-top: 8px;
  }
}
