@import "src/styles/mixins/typography";

.comment {
  padding: 12px 0;

  &.light {
    border-bottom: 1px solid var(--color-neutral-200);
  }

  &.dark {
    border-bottom: 1px solid var(--color-neutral-600);
  }

  &-arrow-up, &-arrow-down {
    position: static;
    margin-left: 6px;
  }

  &-arrow-up {
    margin-bottom: -3px;
  }

  &-arrow-down {
    margin-bottom: 1px;
  }

  &__sentiment {
    color: var(--color-neutral-100);
    padding: 2px 10px 4px 10px;
    border-radius: 8px;
    margin-left: 24px;
    @include text-H6;

    &-positive {
      background-color: var(--color-brand-success-700);
      position: static;
    }

    &-negative {
      background-color: var(--color-brand-danger-500);
      position: static;
    }
  }

  &__options-button {
    z-index: 20;
  }

  &__edit-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    & button {
      margin-top: 8px;
    }
  }

  &__option {
    &-box {
      position: absolute;
      right: 0;
      bottom: 5px;
      padding: 8px 12px 16px 12px;
      border-radius: 8px;

      &.light {
        background-color: var(--color-neutral-150);

        & p {
          color: var(--color-neutral-600);
        }
      }

      &.dark {
        background-color: var(--color-neutral-600);

        & p {
          color: var(--color-neutral-100);
        }
      }

      &__no-options {
        cursor: default !important;
      }

      & p {
        @include text-S;
        margin-top: 0;
        margin-bottom: 8px;
        cursor: pointer;
      }
    }
  }

  &__actions-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    height: 28px;
    position: relative;

    &.light {
      color: var(--color-neutral-350);
    }

    &.dark {
      color: var(--color-neutral-500);
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      @include text-H5;

      &:hover {
        color: var(--color-primary-600);
      }
    }
  }

  &__action {
    margin-right: 4px;
    cursor: pointer;
  }

  &__rated {
    color: var(--color-primary-600);
  }

  &__dot {
    width: 2px;
    height: 2px;
    border-radius: 50px;
    margin: 0 4px;

    &.light {
      background-color: var(--color-neutral-500);
    }

    &.dark {
      background-color: var(--color-neutral-400);
    }
  }

  &__content {
    @include text-S;

    &.light {
      color: var(--color-neutral-550);
    }

    &.dark {
      color: var(--color-neutral-100);
    }
  }

  &__textarea {
    background-color: inherit;
    border-radius: 8px;
    width: 100%;
    resize: none;
    font-family: var(--font-family-plus);
    outline: none;
    padding: 8px;

    &.light {
      border: 1px solid var(--color-primary-500);
      background-color: var(--color-neutral-150);
    }

    &.dark {
      border: 1px solid var(--color-primary-500);
      background-color: var(--color-neutral-700-b);
    }
  }

  &__link {
    display: inline-block;
    margin: 0 4px 0 0;
    border-radius: 8px;

    padding: 2px 8px;
    cursor: pointer;

    transition: 0.5s;

    &.light {
      background-color: var(--color-neutral-150);
      color: var(--color-neutral-600);

      &:hover {
        background-color: var(--color-neutral-200);
      }
    }

    &.dark {
      background-color: var(--color-neutral-600);

      &:hover {
        background-color: var(--color-neutral-550);
      }
    }
  }

  &__reply {
    color: var(--color-primary-500);
    margin: 0;
    padding-right: 5px;
  }

  &__replied {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-top: -8px;
    @include text-S;

    &.light {
      color: var(--color-neutral-500);
    }

    &.dark {
      color: var(--color-neutral-300);
    }

    &-icon {
      margin-right: 8px;
    }

    & p {
      margin: 0;

      & span {
        color: var(--color-primary-500);
      }
    }
  }

  &__username, &__date {
    @include text-XS;

    &.light {
      color: var(--color-neutral-500);
    }

    &.dark {
      color: var(--color-neutral-400);
    }
  }

  &__name {
    @include text-H5;
    margin-right: 8px;

    &.light {
      color: var(--color-neutral-600);
    }

    &.dark {
      color: var(--color-neutral-000);
    }

    &-line {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
    }

    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
      width: 28px;
      height: 28px;
      border-radius: 50px;
      color: var(--color-neutral-000);
    }
  }
}