@mixin display-large {
  font-size: var(--display-size-L);
  font-weight: var(--display-weight-large);
  line-height: var(--display-height-large);
}

@mixin display-medium {
  font-size: var(--display-size-medium);
  font-weight: var(--display-weight-medium);
  line-height: var(--display-height-medium);
}

@mixin display-small {
  font-size: var(--display-size-small);
  font-weight: var(--display-weight-small);
  line-height: var(--display-height-small);
}

@mixin text-H0 {
  font-size: var(--text-size-H0);
  font-weight: var(--text-weight-bold);
  line-height: var(--text-height-H0);
}

@mixin text-H1 {
  font-size: var(--text-size-H1);
  font-weight: var(--text-weight-semi-bold);
  line-height: var(--text-height-H1);
}

@mixin text-H2 {
  font-size: var(--text-size-H2);
  font-weight: var(--text-weight-semi-bold);
  line-height: var(--text-height-H2);
}

@mixin text-H3 {
  font-size: var(--text-size-H3);
  font-weight: var(--text-weight-semi-bold);
  line-height: var(--text-height-H3);
}

@mixin text-H4 {
  font-size: var(--text-size-H4);
  font-weight: var(--text-weight-semi-bold);
  line-height: var(--text-height-H4);
}

@mixin text-H5 {
  font-size: var(--text-size-H5);
  font-weight: var(--text-weight-semi-bold);
  line-height: var(--text-height-H5);
}

@mixin text-H6 {
  font-size: var(--text-size-H6);
  font-weight: var(--text-weight-semi-bold);
  line-height: var(--text-size-H6);
}

@mixin text-XL {
  font-size: var(--text-size-H3);
  font-weight: var(--text-weight-regular);
  line-height: var(--text-height-H3);
}

@mixin text-L {
  font-size: var(--text-size-L);
  font-weight: var(--text-weight-regular);
  line-height: var(--text-height-L);
}

@mixin text-S {
  font-size: var(--text-size-S);
  font-weight: var(--text-weight-regular);
  line-height: var(--text-height-S);
}

@mixin text-XS {
  font-size: var(--text-size-XS);
  font-weight: var(--text-weight-regular);
  line-height: var(--text-height-XS);
}