@import "src/styles/mixins/typography";
@import 'src/styles/variables/devices.scss';

.crypto-detail {
  margin-top: 40px;
  height: calc(100vh - 112px - 40px - 28px*2); //header, margin-top, background padding * 2
  max-width: 1800px;

  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__left-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }

  &__right-box {
    width: 440px;
  }

  &__right {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    & button {
      display: flex;
      align-items: center;
      border-radius: 8px;
    }
  }

  &__star, &__bell {
    margin-right: 8px;
  }
}


@media (max-height: 879px) and (min-width: $device-lg) {
  .crypto-detail {
    height: 100%;
  }
}

@media (max-width: $device-lg) {
  .crypto-detail {
    width: 100%;
    padding: 0 8px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 60px;

    &__left-box {
      width: 100%;
    }

    &__right-box {
      width: 100%;
      padding-bottom: 60px;
    }
  }
}

@media (max-width: $device-sm) {
  .crypto-detail {
    margin-top: 24px;
  }
}

@media (max-width: $device-xs) {
  .crypto-detail {
    width: 100%;

    &__actions {
      text-wrap: nowrap;
    }
  }

  .crypto-title {
    &__name {
      font-size: var(--text-size-H4);

      &-box img {
        width: 28px;
      }
    }

    &__symbol {
      font-size: var(--text-size-H5);
    }

    &__price {
      margin: 15px 20px 15px 0;
      font-size: var(--text-size-H2);
    }

    &__percent-negative {
      font-size: 10px;
    }
  }
}
